/* Add CSS Styling */
.black{
    background-color: rgba(0, 0, 0, 1);
    color: hsl(0, 100%, 100%);
}

.yellow{
    background-color: rgb(255, 230, 0);
}

.black, .yellow{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}